@model MobilePhoneAdministration.Models.SIMCard

<div class="form-group">
    @Html.LabelFor(model => model.ContractId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ContractId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContractId, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeviceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DeviceNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DeviceNumber, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ContractDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.ContractDate, new { @class = "form-control datepicker", placeholder = "A szerződés kelte" })
        @Html.ValidationMessageFor(model => model.ContractDate, "", new { @class = "text-danger" })
    </div>
</div>


@*<div class="form-group">
    @Html.LabelFor(model => model.ContractDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ContractDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
        @Html.ValidationMessageFor(model => model.ContractDate, "", new { @class = "text-danger" })
    </div>
</div>*@

<div class="form-group">
    @Html.LabelFor(model => model.ContractCategory, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.ContractCategoryId, Model.AssignableContractCategories, htmlAttributes : new { @class = "form-control" } )
        
        @Html.ValidationMessageFor(model => model.ContractDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CardIMEI, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CardIMEI, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CardIMEI, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PIN1, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PIN1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PIN1, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PIN2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PIN2, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PIN2, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PUK1, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PUK1, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PUK1, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PUK2, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PUK2, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PUK2, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
    </div>
</div>
