@model MobilePhoneAdministration.Models.CostPlace

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CostPlace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForwardedBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForwardedBill)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
